.countries {
  display: flex;
}
/* Add your own CSS code below */
.countries--first {
  align-items: center;
  width: fit-content;
  padding-right: 7%;
}
.countries--second {
  align-items: flex-end;
  justify-content: right;
  width: fit-content;
  padding-left: 7%;
}

.countries--third {
  justify-content: right;
  flex-direction: column;
  align-items: flex-end;
}
.countries--fourth {
  justify-content: end;
  flex-direction: column;
  align-items: center;
}
